<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cakehouse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.example.web.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.example.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/list</url-pattern>
        <url-pattern>/user/new</url-pattern>
        <url-pattern>/user/insert</url-pattern>
        <url-pattern>/user/edit</url-pattern>
        <url-pattern>/user/update</url-pattern>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.example.web.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news/list</url-pattern>
    <url-pattern>/news/new</url-pattern>
    <url-pattern>/news/edit</url-pattern>
    <url-pattern>/news/delete</url-pattern>
    <url-pattern>/news/insert</url-pattern>
    <url-pattern>/news/update</url-pattern>
    <url-pattern>/news-list</url-pattern>
    <url-pattern>/news-page</url-pattern>
  </servlet-mapping>
     <locale-encoding-mapping-list>
        <locale-encoding-mapping>
            <locale>zh_TW</locale>
            <encoding>UTF-8</encoding>
        </locale-encoding-mapping>
    </locale-encoding-mapping-list>
</web-app>