.card{
    background-color: rgba(0, 0, 0, .5);
    
  }
body{
	background: url('backend/images/bg_admin.jpg') no-repeat;  
    background-size: 100%;  
    background-position: center center;
}
  .container{
    margin-top: 100px;
  }